.newContactContainer {
  display: flex;
}

.img {
  margin-top: 20px;
}

.img:hover {
  cursor: pointer;
}

.newContact {
  width: 300px;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 20px;
}

.newName,
.newPhone,
.newCity {
  display: flex;
  justify-content: space-between;
  background-color: #fff;  
}

.newName input,
.newPhone input,
.newCity input {
  width: 220px;
  background-color: #fff;
}

.hasError {
  margin-top: -15px;
  margin-left: -20px;
	border:1px solid rgb(228, 213, 167);
  color: red;
	border-radius:10px;
  padding-bottom: 5px;
  padding-left: 10px;
	height:22px;
	width:150px;
	background-color: rgb(228, 213, 167);
	position:relative;
}

.hasError:before {
	border:8px solid transparent;
	border-top-color:rgb(228, 213, 167);
	position:absolute;
	top:100%;	
	content:'';
}


.noError {
  display: none;
}

